<section id="sop" class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header class="px-4 md:px-8 pt-32 md:pt-40">
            <h2 class="text-white text-2xl sm:text-3xl md:text-[40px] font-medium mb-4">¿Necesitas Ayuda?</h2>
            <h3 class="text-white text-sm md:text-base">Nuestros asesores especializados te ayudan a encontrar la cobertura perfecta para tu vehículo</h3>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-16 md:pb-20">
            <div>
                <a class="border-2 md:border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-8 md:px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="https://api.whatsapp.com/send?phone=522212308218&text=Aqui puedes resolver tus dudas" target="_blank">Contactar</a>
            </div>
        </footer>
    </div>
    
    

    <!-- <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src='/forte.jpg' alt="forte" class="h-full w-full object-cover object-center" />
    </div> -->
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="object-center object-cover h-full w-full" autoplay muted loop src="/pagani.mp4"></video>
    </div>
    <!-- Overlay semitransparente para mejorar legibilidad -->
    <div class="absolute top-0 bottom-0 h-full w-full z-20 bg-black/45"></div>
</section>